@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 1.5s ease-in-out forwards;
}

/* Animaciones para el título */
.title-fade-in {
    animation: titleFadeIn 0.7s forwards;
}

.title-fade-out {
    animation: titleFadeOut 0.7s forwards;
}

@keyframes titleFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes titleFadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* Animaciones para las imágenes */
.components-fade-in {
    animation: imageFadeIn 0.5s forwards;
}

.components-fade-out {
    animation: imageFadeOut 0.5s forwards;
}

@keyframes imageFadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes imageFadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}
